
.MeniscusResultsSagittal_MeniscusResultsSagittal {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(177,177,177,1.00);
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .background {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 105%;
	object-fit: cover;
	overflow: hidden;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .logo {
	position: absolute;
	left: 50%;
	top: -103px;
	transform: translate(-50%, 0);
	width: 376px;
	height: 428px;
	object-fit: cover;
	overflow: hidden;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .Coronal {
	position: absolute;
	left: 1067px;
	top: 552px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .Coronal .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .Coronal .GradCAM {
	position: absolute;
	left: 19px;
	top: 17px;
	width: 112px;
	height: 34px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Alata;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.600000381469727px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .OuterButtons {
	position: absolute;
	left: 64px;
	top: 257px;
	width: 148px;
	height: 426px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .OuterButtons .Axial {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .OuterButtons .Axial .Rectangle1_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .OuterButtons .Axial .Abnormal {
	position: absolute;
	left: 24px;
	top: 17px;
	width: 100px;
	height: 34px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Alata;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.600000381469727px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .OuterButtons .ACLButton {
	position: absolute;
	left: 0px;
	top: 122px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .OuterButtons .ACLButton .Rectangle1_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .OuterButtons .ACLButton .ACL {
	position: absolute;
	left: 24px;
	top: 17px;
	width: 100px;
	height: 34px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Alata;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.600000381469727px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .OuterButtons .MeniscusButton {
	position: absolute;
	left: 0px;
	top: 244px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .OuterButtons .MeniscusButton .Rectangle1_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .OuterButtons .MeniscusButton .Meniscus {
	position: absolute;
	left: 24px;
	top: 17px;
	width: 100px;
	height: 34px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Alata;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.600000381469727px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .OuterButtons .TotalButton {
	position: absolute;
	left: 0px;
	top: 366px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .OuterButtons .TotalButton .Rectangle1_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .OuterButtons .TotalButton .Total {
	position: absolute;
	left: 24px;
	top: 17px;
	width: 100px;
	height: 34px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Alata;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.600000381469727px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .Overlay {
	position: absolute;
	left: 234.5px;
	top: 210.47119140625px;
	width: 1109.7037353515625px;
	height: 753.0315551757812px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .PlayButton {
	position: absolute;
	left: 1106px;
	top: 648px;
	width: 34.5px;
	height: 49px;
	border-radius: 5px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .PauseButton {
	position: absolute;
	left: 1156px;
	top: 648px;
	width: 29px;
	height: 49px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .PauseButton .Rectangle6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 10px;
	height: 49px;
	border-radius: 50px;
	border: 3px solid rgba(196.5624949336052,196.5624949336052,196.5624949336052,1);
	box-sizing: border-box;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .PauseButton .Rectangle7 {
	position: absolute;
	left: 19px;
	top: 0px;
	width: 10px;
	height: 49px;
	border-radius: 50px;
	border: 3px solid rgba(196.5624949336052,196.5624949336052,196.5624949336052,1);
	box-sizing: border-box;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .ImageText {
	position: absolute;
	left: 1050px;
	top: 479px;
	width: 193px;
	height: 62px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Alata;
	font-size: 30px;
	font-weight: 400;
	line-height: 41.400001525878906px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .GradCamButton {
	position: absolute;
	left: 1067px;
	top: 555px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .GradCamButton .Rectangle1_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .GradCamButton .GradCAM_1 {
	position: absolute;
	left: 11px;
	top: 15px;
	width: 124px;
	height: 34px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Alata;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.600000381469727px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .InnerButtons {
	position: absolute;
	left: 328px;
	top: 336px;
	width: 148px;
	height: 300px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .InnerButtons .CoronalButton {
	position: absolute;
	left: 0px;
	top: 123px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .InnerButtons .CoronalButton .Rectangle1_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .InnerButtons .CoronalButton .Coronal_1 {
	position: absolute;
	left: 24px;
	top: 17px;
	width: 100px;
	height: 34px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Alata;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.600000381469727px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .InnerButtons .AxialButton {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .InnerButtons .AxialButton .Rectangle1_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .InnerButtons .AxialButton .Axial_1 {
	position: absolute;
	left: 24px;
	top: 17px;
	width: 100px;
	height: 34px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Alata;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.600000381469727px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .InnerButtons .SagittalButton {
	position: absolute;
	left: 0px;
	top: 240px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .InnerButtons .SagittalButton .Rectangle1_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 60px;
	border-radius: 50px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .InnerButtons .SagittalButton .Sagittal {
	position: absolute;
	left: 24px;
	top: 17px;
	width: 100px;
	height: 34px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Alata;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.600000381469727px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .Slider {
	position: absolute;
	left: 400px;
	top: 717px;
	width: 775px;
	height: 37px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .Slider .SliderBox {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 775px;
	height: 37px;
	background: rgba(217,217,217,1.00);
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .Slider .Slidergoeshere {
	position: absolute;
	left: 214px;
	top: 0px;
	width: 393px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Alata;
	font-size: 25px;
	font-weight: 400;
	line-height: 34.5px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .Graph {
	position: absolute;
	left: 399px;
	top: 774px;
	width: 776px;
	height: 156px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .Graph .GraphBox {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 776px;
	height: 156px;
	background: rgba(217,217,217,1.00);
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .Graph .Graphgoeshere {
	position: absolute;
	left: 301px;
	top: 41px;
	width: 218px;
	height: 71px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Alata;
	font-size: 25px;
	font-weight: 400;
	line-height: 34.5px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .Image {
	position: absolute;
	left: 555px;
	top: 243px;
	width: 452px;
	height: 440px;
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .Image .Imagebox {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 452px;
	height: 440px;
	background: rgba(217,217,217,1.00);
}
.MeniscusResultsSagittal_MeniscusResultsSagittal .Image .ImageText_1 {
	position: absolute;
	left: 112px;
	top: 194px;
	width: 243px;
	height: 115px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Alata;
	font-size: 30px;
	font-weight: 400;
	line-height: 41.400001525878906px;
}