.results-code-ACL {
	background-color: #292929;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
  }
  
  .results-code-ACL .div {
	background-color: #292929;
	height: 1024px;
	overflow: hidden;
	position: relative;
	width: 1440px;
  }
  
  .results-code-ACL .top-overlay {
	height: 119px;
	left: 0;
	position: absolute;
	top: 0;
	width: 1446px;
  }
  
  .results-code-ACL .overlap-group {
	background-color: #444444;
	height: 119px;
	position: relative;
	width: 1440px;
  }
  
  .results-code-ACL .overlap {
	height: 35px;
	left: 165px;
	position: absolute;
	top: 39px;
	width: 562px;
  }
  
  .results-code-ACL .text-wrapper {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 25px;
	font-weight: 400;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 0;
	width: 152px;
  }
  
  .results-code-ACL .text-wrapper-2 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 25px;
	font-weight: 400;
	left: 150px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 0;
	width: 152px;
  }
  
  .results-code-ACL .text-wrapper-3 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 25px;
	font-weight: 400;
	left: 282px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 0;
	width: 280px;
  }
  
  .results-code-ACL .logo {
	height: 89px;
	left: 23px;
	object-fit: cover;
	position: absolute;
	top: 13px;
	width: 110px;
  }
  
  .results-code-ACL .overlap-2 {
	height: 212px;
	left: 731px;
	position: absolute;
	top: 685px;
	width: 644px;
  }
  
  .results-code-ACL .abnormal-score {
	height: 84px;
	left: 5px;
	position: absolute;
	top: 128px;
	width: 619px;
  }
  
  .results-code-ACL .overlap-3 {
	height: 84px;
	position: relative;
	width: 613px;
  }
  
  .results-code-ACL .text-wrapper-4 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 25px;
	font-weight: 400;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 7px;
	width: 220px;
  }
  
  .results-code-ACL .rectangle {
	background-color: #d9d9d9;
	height: 37px;
	left: 6px;
	position: absolute;
	top: 47px;
	width: 607px;
  }
  
  .results-code-ACL .text-wrapper-5 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 35px;
	font-weight: 400;
	left: 548px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 0;
	width: 52px;
  }
  
  .results-code-ACL .text-wrapper-6 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 20px;
	font-weight: 400;
	left: 597px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 3px;
	white-space: nowrap;
	width: 16px;
  }
  
  .results-code-ACL .category {
	height: 134px;
	left: 0;
	position: absolute;
	top: 0;
	width: 644px;
  }
  
  .results-code-ACL .text-wrapper-7 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 25px;
	font-weight: 400;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 0;
	width: 124px;
  }
  
  .results-code-ACL .switch {
	height: 47px;
	left: 564px;
	object-fit: cover;
	position: absolute;
	top: 75px;
	width: 76px;
  }
  
  .results-code-ACL .text-wrapper-8 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 15px;
	font-weight: 400;
	left: 576px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 47px;
	width: 52px;
  }
  
  .results-code-ACL .abnormal-button {
	height: 90px;
	left: 60px;
	position: absolute;
	top: 44px;
	width: 96px;
  }
  
  .results-code-ACL .overlap-group-2 {
	height: 90px;
	position: relative;
	width: 94px;
  }
  
  .results-code-ACL .abnormal-cat {
	background-color: #3b3b3b;
	border-radius: 45px;
	height: 90px;
	left: 0;
	position: absolute;
	top: 0;
	width: 90px;
  }
  
  .results-code-ACL .text-wrapper-9 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 15px;
	font-weight: 400;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 31px;
	width: 94px;
  }
  
  .results-code-ACL .meniscus-button {
	height: 90px;
	left: 396px;
	position: absolute;
	top: 44px;
	width: 96px;
  }
  
  .results-code-ACL .meniscus-cat {
	background-color: #3c3c3c;
	border-radius: 45px;
	height: 90px;
	left: 0;
	position: absolute;
	top: 0;
	width: 90px;
  }
  
  .results-code-ACL .ACL-button {
	height: 90px;
	left: 235px;
	position: absolute;
	top: 44px;
	width: 92px;
  }
  
  .results-code-ACL .div-wrapper {
	background-color: #ffffff;
	border-radius: 45px;
	height: 90px;
	position: relative;
	width: 90px;
  }
  
  .results-code-ACL .text-wrapper-10 {
	color: #000000;
	font-family: "Alata-Regular", Helvetica;
	font-size: 15px;
	font-weight: 400;
	left: 17px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 31px;
	width: 56px;
  }
  
  .results-code-ACL .ACL-score {
	height: 88px;
	left: 736px;
	position: absolute;
	top: 911px;
	width: 281px;
  }
  
  .results-code-ACL .overlap-4 {
	height: 88px;
	position: relative;
	width: 275px;
  }
  
  .results-code-ACL .text-wrapper-11 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 25px;
	font-weight: 400;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 6px;
	width: 132px;
  }
  
  .results-code-ACL .overlap-5 {
	height: 88px;
	left: 6px;
	position: absolute;
	top: 0;
	width: 269px;
  }
  
  .results-code-ACL .rectangle-2 {
	background-color: #d9d9d9;
	height: 37px;
	left: 0;
	position: absolute;
	top: 51px;
	width: 269px;
  }
  
  .results-code-ACL .text-wrapper-12 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 35px;
	font-weight: 400;
	left: 200px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 0;
	width: 66px;
  }
  
  .results-code-ACL .text-wrapper-13 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 20px;
	font-weight: 400;
	left: 262px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 2px;
	white-space: nowrap;
	width: 7px;
  }
  
  .results-code-ACL .meniscus-score {
	height: 88px;
	left: 1063px;
	position: absolute;
	top: 913px;
	width: 292px;
  }
  
  .results-code-ACL .overlap-6 {
	height: 88px;
	position: relative;
	width: 286px;
  }
  
  .results-code-ACL .text-wrapper-14 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 25px;
	font-weight: 400;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 8px;
	width: 200px;
  }
  
  .results-code-ACL .overlap-7 {
	height: 88px;
	left: 17px;
	position: absolute;
	top: 0;
	width: 269px;
  }
  
  .results-code-ACL .result {
	height: 85px;
	left: 733px;
	position: absolute;
	top: 581px;
	width: 661px;
  }
  
  .results-code-ACL .text-wrapper-15 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 25px;
	font-weight: 400;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 0;
	width: 87px;
  }
  
  .results-code-ACL .overlap-8 {
	background-color: #3c3c3c;
	border-radius: 100px;
	height: 33px;
	left: 12px;
	position: absolute;
	top: 52px;
	width: 132px;
  }
  
  .results-code-ACL .text-wrapper-16 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 15px;
	font-weight: 400;
	left: 38px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 5px;
	width: 56px;
  }
  
  .results-code-ACL .overlap-9 {
	background-color: #3c3c3c;
	border-radius: 100px;
	height: 33px;
	left: 519px;
	position: absolute;
	top: 52px;
	width: 132px;
  }
  
  .results-code-ACL .overlap-10 {
	background-color: #3c3c3c;
	border-radius: 100px;
	height: 33px;
	left: 350px;
	position: absolute;
	top: 50px;
	width: 132px;
  }
  
  .results-code-ACL .text-wrapper-17 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 15px;
	font-weight: 400;
	left: 32px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 5px;
	width: 73px;
  }
  
  .results-code-ACL .overlap-11 {
	background-color: #ff7171;
	border-radius: 100px;
	height: 33px;
	left: 181px;
	position: absolute;
	top: 52px;
	width: 132px;
  }
  
  .results-code-ACL .text-wrapper-18 {
	color: #000000;
	font-family: "Alata-Regular", Helvetica;
	font-size: 15px;
	font-weight: 400;
	left: 38px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 5px;
	width: 56px;
  }
  
  .results-code-ACL .axial-group {
	height: 411px;
	left: 52px;
	position: absolute;
	top: 151px;
	width: 653px;
  }
  
  .results-code-ACL .overlap-12 {
	height: 411px;
	position: relative;
	width: 655px;
  }
  
  .results-code-ACL .overlap-group-wrapper {
	height: 411px;
	left: 0;
	position: absolute;
	top: 0;
	width: 655px;
  }
  
  .results-code-ACL .overlap-group-3 {
	background-color: #404040;
	height: 411px;
	position: relative;
	width: 653px;
  }
  
  .results-code-ACL .graph-text {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 50px;
	font-weight: 400;
	left: 81px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 163px;
	width: 476px;
  }
  
  .results-code-ACL .heatmap-bar {
	height: 50px;
	left: 17px;
	position: absolute;
	top: 5px;
	width: 298px;
  }
  
  .results-code-ACL .rectangle-3 {
	background: linear-gradient(90deg, rgb(0, 40.8, 255) 0%, rgb(255, 0, 0) 100%);
	height: 30px;
	left: 0;
	position: absolute;
	top: 20px;
	width: 290px;
  }
  
  .results-code-ACL .text-wrapper-19 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 15px;
	font-weight: 400;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 0;
	white-space: nowrap;
	width: 9px;
  }
  
  .results-code-ACL .text-wrapper-20 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 15px;
	font-weight: 400;
	left: 255px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 2px;
	white-space: nowrap;
	width: 39px;
  }
  
  .results-code-ACL .inspect-ax {
	border: 3px solid;
	border-color: #ffffff;
	border-radius: 30.5px;
	height: 61px;
	left: 578px;
	position: absolute;
	top: 337px;
	width: 61px;
  }
  
  .results-code-ACL .overlap-13 {
	height: 32px;
	left: 14px;
	position: relative;
	top: 17px;
	width: 33px;
  }
  
  .results-code-ACL .ellipse {
	border: 3px solid;
	border-color: #ffffff;
	border-radius: 12.5px/12px;
	height: 24px;
	left: 0;
	position: absolute;
	top: 0;
	width: 25px;
  }
  
  .results-code-ACL .rectangle-4 {
	background-color: #ffffff;
	border-radius: 100px;
	height: 6px;
	left: 17px;
	position: absolute;
	top: 21px;
	transform: rotate(47.15deg);
	width: 17px;
  }
  
  .results-code-ACL .plus-ax {
	border: 3px solid;
	border-color: #ffffff;
	border-radius: 30.5px;
	height: 61px;
	left: 17px;
	position: absolute;
	top: 339px;
	width: 61px;
  }
  
  .results-code-ACL .overlap-14 {
	height: 32px;
	left: 15px;
	position: relative;
	top: 15px;
	width: 32px;
  }
  
  .results-code-ACL .rectangle-5 {
	background-color: #ffffff;
	border-radius: 100px;
	height: 6px;
	left: 0;
	position: absolute;
	top: 13px;
	transform: rotate(-90deg);
	width: 32px;
  }
  
  .results-code-ACL .rectangle-6 {
	background-color: #ffffff;
	border-radius: 100px;
	height: 6px;
	left: 0;
	position: absolute;
	top: 13px;
	width: 32px;
  }
  
  .results-code-ACL .coronal-group {
	height: 411px;
	left: 736px;
	position: absolute;
	top: 151px;
	width: 653px;
  }
  
  .results-code-ACL .heatmap-bar-2 {
	height: 50px;
	left: 18px;
	position: absolute;
	top: 2px;
	width: 298px;
  }
  
  .results-code-ACL .inspect-co {
	border: 3px solid;
	border-color: #ffffff;
	border-radius: 30.5px;
	height: 61px;
	left: 579px;
	position: absolute;
	top: 337px;
	width: 61px;
  }
  
  .results-code-ACL .plus-co {
	border: 3px solid;
	border-color: #ffffff;
	border-radius: 30.5px;
	height: 61px;
	left: 10px;
	position: absolute;
	top: 339px;
	width: 61px;
  }
  
  .results-code-ACL .sagittal-group {
	height: 411px;
	left: 52px;
	position: absolute;
	top: 586px;
	width: 653px;
  }
  
  .results-code-ACL .heatmap-bar-3 {
	height: 50px;
	left: 18px;
	position: absolute;
	top: 6px;
	width: 298px;
  }
  
  .results-code-ACL .inspect-sag {
	border: 3px solid;
	border-color: #ffffff;
	border-radius: 30.5px;
	height: 61px;
	left: 580px;
	position: absolute;
	top: 335px;
	width: 61px;
  }
  
  .results-code-ACL .plus-sag {
	border: 3px solid;
	border-color: #ffffff;
	border-radius: 30.5px;
	height: 61px;
	left: 17px;
	position: absolute;
	top: 337px;
	width: 61px;
  }