.sagittal-results {
	background-color: #292929;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
  }
  
  .sagittal-results .div {
	background-color: #292929;
	height: 1024px;
	overflow: hidden;
	position: relative;
	width: 1440px;
  }
  
  .sagittal-results .play-button {
	height: 45px;
	left: 1292px;
	position: absolute;
	top: 691px;
	width: 36px;
  }
  
  .sagittal-results .pause-button-white {
	height: 49px;
	left: 1343px;
	position: absolute;
	top: 689px;
	width: 35px;
  }
  
  .sagittal-results .graph {
	height: 156px;
	left: 147px;
	position: absolute;
	top: 835px;
	width: 1077px;
  }
  
  .sagittal-results .overlap-group {
	background-color: #484848;
	height: 156px;
	position: relative;
	width: 1075px;
  }
  
  .sagittal-results .text-wrapper {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 25px;
	font-weight: 400;
	left: 417px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 41px;
	width: 302px;
  }
  
  .sagittal-results .image {
	height: 630px;
	left: 147px;
	position: absolute;
	top: 168px;
	width: 1077px;
  }
  
  .sagittal-results .overlap {
	background-color: #484848;
	height: 630px;
	position: relative;
	width: 1075px;
  }
  
  .sagittal-results .image-text {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 30px;
	font-weight: 400;
	left: 266px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 278px;
	width: 578px;
  }
  
  .sagittal-results .top-overlay {
	height: 122px;
	left: 0;
	position: absolute;
	top: 0;
	width: 1446px;
  }
  
  .sagittal-results .overlap-2 {
	background-color: #444444;
	height: 122px;
	position: relative;
	width: 1440px;
  }
  
  .sagittal-results .overlap-group-2 {
	height: 35px;
	left: 165px;
	position: absolute;
	top: 39px;
	width: 562px;
  }
  
  .sagittal-results .text-wrapper-2 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 25px;
	font-weight: 400;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 0;
	width: 152px;
  }
  
  .sagittal-results .text-wrapper-3 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 25px;
	font-weight: 400;
	left: 150px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 0;
	width: 152px;
  }
  
  .sagittal-results .text-wrapper-4 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 25px;
	font-weight: 400;
	left: 282px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 0;
	width: 280px;
  }
  
  .sagittal-results .logo {
	height: 89px;
	left: 23px;
	object-fit: cover;
	position: absolute;
	top: 13px;
	width: 110px;
  }
  
  .sagittal-results .slider {
	height: 37px;
	left: 1244px;
	position: absolute;
	top: 761px;
	width: 183px;
  }
  
  .sagittal-results .div-wrapper {
	background-color: #484848;
	height: 37px;
	position: relative;
	width: 181px;
  }
  
  .sagittal-results .text-wrapper-5 {
	color: #ffffff;
	font-family: "Alata-Regular", Helvetica;
	font-size: 15px;
	font-weight: 400;
	left: 19px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 7px;
	width: 127px;
  }
  
  .sagittal-results .back {
	height: 86px;
	left: 1345px;
	position: absolute;
	top: 158px;
	width: 86px;
  }
  
  .sagittal-results .overlap-3 {
	height: 86px;
	position: relative;
  }
  
  .sagittal-results .ellipse {
	border: 3px solid;
	border-color: #ffffff;
	border-radius: 30.5px;
	height: 61px;
	left: 13px;
	position: absolute;
	top: 13px;
	transform: rotate(-45deg);
	width: 61px;
  }
  
  .sagittal-results .arrow {
	height: 37px;
	left: 25px;
	position: absolute;
	top: 25px;
	width: 38px;
  }
  